.container {
  min-height: 0;
}
.cjrgPL {
  padding: 1em;
}

.mainDiv {
  display: flex;
}
.chartDiv {
  width: 50%;
}

.columnDiv {
  width: 50%;
  margin-left: 15px;
}

@media screen and (max-width: 770px){
  .mainDiv {
    display: block;
  }
  .chartDiv {
    width: 100%;
  }
  
  .columnDiv {
    width: 100%;
    margin-left: 0;
    
  }
}