.carousal {
    position: absolute;
    width: auto;
    bottom: -1%;
    right: 70%;
    height: auto;
    display: block;
    z-index: 5;
    text-align:center;
    padding: 0.5rem 1rem;
    font-size: 39.5px;
}

#project-list {
    display: inline-flex;
    height: 100%;
    position: relative;
    text-align: center;
    left: -16%;
}

.list-items {
    display: inline-block;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    font-weight: lighter;
    position: relative;
    width: 35px;
    height: 75px;
    background:transparent;
    color: #ffffff;
}

.list-items-last {
    display: inline-block;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    font-weight: lighter;
    position: relative;
    width: 35px;
    height: 75px;
    background:transparent;
    color: black;
}

.list-items span {
    position: absolute;
    top: -10px;
    font-size: 18px;
    display: none;
}

.list-items-last span {
    position: absolute;
    top: -10px;
    font-size: 18px;
    display: none;
}

.list-items-horizontal {
    height: 73px;
    margin: 16px;
    color: white;
    pointer-events: none;
    transform: rotate(90deg);
    font-weight: lighter;
    transition: all .3s;
    margin: 0;
}

.list-items-horizontal-last {
    height: 81px;
    margin: 16px;
    color: black;
    pointer-events: none;
    transform: rotate(90deg);
    font-weight: lighter;
    transition: all .3s;
    margin: 0;
}

.list-items-horizontal span {
    transform: rotate(-90deg);
    display: inline-block;  
    font-weight: lighter;
    font-size: 18px;
}

.list-items-horizontal-last span {
    transform: rotate(-90deg);
    display: inline-block;  
    font-size: 18px;
    font-weight: lighter;
}

.list-items:hover span {
    display: inline-block; 
}

.list-items-last:hover span {
    display: inline-block; 
}

.list-items:hover {
    display: inline-block;
    transition: all .3s;
    cursor: pointer;
    position: relative;
    color: #44cdb4;
    padding: 0; 
    width: 55px;
    height: 75px;
    font-weight: lighter;
    background:transparent;
}

.list-items-last:hover {
    display: inline-block;
    transition: all .3s;
    cursor: pointer;
    position: relative;
    color: #44cdb4;
    padding: 0; 
    width: 55px;
    height: 75px;
    font-weight: lighter;
    background:transparent;
}
@media(max-width:768px){
    .carousal{
    position: fixed;
    width: auto;
    bottom: -30px;
    right: 29%;
    }
    .footer_slider{
        position: fixed !important;
        left: 10% !important;
        bottom: 4% !important;
    }
}


