.carousal {
    position: absolute;
    width: 100%;
    bottom: -1%;
    right: 14%;
    height: auto;
    display: block;
    z-index: 5;
    text-align:center;
    padding: 0.5rem 1rem;
    font-size: 38px;
}

#project-list {
    display: inline-flex;
    height: 100%;
    position: relative;
    text-align: center;
    left: -11%;
}

.list-items {
    display: inline-block;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    position: relative;
    width: 35px;
    height: 75px;
    background:transparent;
    color: #ffffff;
}

.list-items-last {
    display: inline-block;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    position: relative;
    width: 35px;
    height: 75px;
    background:transparent;
    color: black;
}

.list-items span {
    position: absolute;
    top: -10px;
    font-size: 22px;
    display: none;
}

.list-items-last span {
    position: absolute;
    top: -10px;
    font-size: 22px;
    display: none;
}

.list-items-horizontal {
    height: 73px;
    margin: 16px;
    color: white;
    pointer-events: none;
    transform: rotate(90deg);
    transition: all .3s;
    margin: 0;
}

.list-items-horizontal-last {
    height: 81px;
    margin: 16px;
    color: black;
    pointer-events: none;
    transform: rotate(90deg);
    transition: all .3s;
    margin: 0;
}

.list-items-horizontal span {
    transform: rotate(-90deg);
    display: inline-block;  
    font-size: 22px;
}

.list-items-horizontal-last span {
    transform: rotate(-90deg);
    display: inline-block;  
    font-size: 22px;
}

.list-items:hover span {
    display: inline-block; 
}

.list-items-last:hover span {
    display: inline-block; 
}

.list-items:hover {
    display: inline-block;
    transition: all .3s;
    cursor: pointer;
    position: relative;
    color: #44cdb4;
    padding: 0; 
    width: 55px;
    height: 75px;
    background:transparent;
}

.list-items-last:hover {
    display: inline-block;
    transition: all .3s;
    cursor: pointer;
    position: relative;
    color: #44cdb4;
    padding: 0; 
    width: 55px;
    height: 75px;
    background:transparent;
}


