body #Menu {
  background: transparent;
  box-shadow: none;
  color: #fff;
}
#Menu .center a {
  color: #fff !important
}

.footer {
  
}

.bold {
  font-weight: 600;
}

.donations {

}

.displace {

}
