@font-face {
  font-family: 'Amz';
  src: url('./Amazon-Ember-Regular.ttf');
}

h1 {
  font-family: 'Amz';
  margin-top: 17px;
}

.no-padding {
  padding: 0;
}

.footer_slider {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: black; */
}
.height_100vh {
  height: 100vh !important;
}

@media screen and (max-width: 770px) {
  .height_100vh {
    height: 100vh !important;
  }
  .center {
    text-align: center;
  }
  .aws-sld__bullets {
    bottom: 70px !important;
  }
  .footer_slider {
    position: relative;
  }
}

@media screen and (min-width: 770px) {
  .container {
    min-height: 0;
  }
}
.slider {
  width: 85%;
  height: 100%;
  position: absolute;
  top: 0;
  background: black;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.aws-sld__content {
  overflow-y: scroll;
  overflow-x: hidden;
  background: black;
}

.aws-sld {
  height: calc(100%);
}

.aws-sld__wrapper {
  height: 100%;
}

.aws-sld__controls__arrow-left::before {
  background: linear-gradient(0.1turn, #00ffff, palevioletred) !important;
  width: 10px;
}

.aws-sld__controls__arrow-left::after {
  background: linear-gradient(-0.1turn, palevioletred, #00ffff) !important;
  width: 10px;
}

.aws-sld__controls__arrow-right::before {
  background: linear-gradient(-0.1turn, palevioletred, #00ffff) !important;
  width: 10px;
}

.aws-sld__controls__arrow-right::after {
  background: linear-gradient(0.1turn, #00ffff, palevioletred) !important;
  width: 10px;
}

.aws-sld__bullets .aws-sld__bullets--active {
  background: #00ffff;
}

.aws-sld__bullets button {
  background: white;
}

.aws-sld__bullets {
  position: block;
  bottom: 80px;
  z-index: 999;
  opacity: 1;
}
.aws-sld__bullets:hover {
  opacity: 1;
}
