@font-face {
  font-family: 'Amz';
  src: url('./Amazon-Ember-Regular.ttf');
}

h1 {
  font-family: 'Amz';
}

.no-padding {
  padding: 0;
}

@media screen and (min-width: 770px) {
  .container {
    min-height: 0;
  }
}
.slider {
  width:85%;
  height: 100%;
  position: absolute;
  top: 0;
  background:black;
  align-items: center;
  justify-content: center;
  left:0;
  right: 0;
  margin: 0 auto;
}

.aws-sld__content {
  overflow-y: scroll;
  overflow-x: hidden;
  background: black;
}

.aws-sld {
  height:100%
}

.aws-sld__wrapper {
  height:100%
}

.aws-sld__controls__arrow-left::before {
  background-color  : #00ffff !important;
}

.aws-sld__controls__arrow-left::after {
  background-color: #00ffff !important;
}

.aws-sld__controls__arrow-right::before {
  background-color: palevioletred !important;
}

.aws-sld__controls__arrow-right::after {
  background-color: palevioletred !important;
}

.aws-sld__bullets .aws-sld__bullets--active {
  background: #00ffff;
  border: 2px solid blue;
}
.aws-sld__bullets button {
  background: white;
}
.aws-sld__bullets {
  position: fixed;
  bottom: 0;
  z-index: 999;
}