.pieContainer{
    height: 45vh !important;
    width: 100% !important;
    margin: auto;
}
.bg_color_white{
    background-color: #fff;
}
.label {	
    position: absolute;			
    text-align: center;	
    width: fit-content;					
    height: fit-content;					
    padding: 5px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
    display: none;	
    text-align: left;	
}

.legendsContainer{
    background-color: #fff;
    padding: 2% 8%;
    width: fit-content;
    text-align: center;
    margin: auto;
}
.legendLabelDiv{
    width: 100%;
    margin-bottom: 5px; 
}
.legends{
    font-size: 0.8em;
    color: black;
}

@media screen and (max-width: 770px){
    .pieContainer{
        height: 30vh !important;
        width: 100% !important;
        margin: auto;
    }
}
@media screen and (max-width: 480px){
    .pieContainer{
        height: 150px !important;
        width: 100% !important;
        margin: auto;
    }
}